PORT=3000
MONGODB_URI=mongodb://localhost:27017/adspilot
# For VPS: mongodb://localhost:27017/adspilot
NODE_ENV=development
# Public URL for creative image links (no trailing slash)
# On VPS: https://api.pawgrammers.io.vn
PUBLIC_BASE_URL=http://localhost:3000
# Allowed CORS origins (comma-separated)
ALLOWED_ORIGINS=http://localhost:5500,http://localhost:3001,https://znews-stg.pawgrammers.io.vn,https://baomoi-stg.pawgrammers.io.vn,https://zingmp3-stg.pawgrammers.io.vn
